body{
    background: rgb(128, 128, 209);
    font: normal 18pt Arial;

}
header{
    color: black;
    text-align: center;
}

section{
    padding: auto;
    text-align: center;
    background-color: rgb(155, 146, 146);
    box-shadow: 5px 2px 5px 5px;
    width: 500px;
    border-radius: 10px;
    margin: auto;  
    
}

footer{
    text-align: center;
    
}